header {
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 24px 40px;
    z-index: 100;

    .wrap {
        width: 100%;
        @include flexStyle(space-between, center, row, 0);

        .brand {
            @include flexStyle(center, center, row, 4px);

            h1 {
                font-size: 24px;
                color: $primary;
            }

            img {
                width: 40px;
            }
        }

        nav {
            @include flexStyle(center, center, row, 24px);

            .nav-right a {
                font-size: 14px;
                text-decoration: none;
                color: #7D7D7D;
                margin: 14px;
                text-transform: capitalize;
                padding: 8px 0;
                border-bottom: 2px solid transparent;

                &.active {
                    border-bottom: 2px solid #000;
                    color: #000;
                    transition: border-bottom 0.1s;
                    -webkit-transition: border-bottom 0.2s;
                }

                &:hover {
                    border-bottom: 2px solid #000;
                    color: #000;
                    transition: border-bottom 0.1s;
                    -webkit-transition: border-bottom 0.2s;
                }

            }

            a.button {
                border: 1px solid none;
                padding: 12px 24px;
                border-radius: 12px;
                font-size: 0.75rem;
                background: #2E582C;
                color: #fff;

                &:hover {
                    background: #2e582ca3;
                    transition: background 0.3s;
                    -webkit-transition: background 0.3s;
                }
            }
        }
    }

    @media (min-width: 1200px) {
        & {
            width: 1000px;
        }
    }
}